h1 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 18pt;
    text-decoration: underline;
}

#mainheading {
    text-align: center;
    font-size: 22pt;
}

body {
    background-image: url("recipe/assets/silverware.jpg");
    background-attachment: fixed;
    color: #404040;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: #A4A400;
}

.comments {
    background-color: #FFFFA8;
}

li {
    list-style-image: url('assets/pie_icon.gif');
}
