
/*Create a stylesheet named styleme.css to improve the appearance of your About Me page.
 Change the color of at least two elements
 Change the font properties (family, size, weight, or style) of at least two elements. Some
standard fonts: Arial, Arial Black, Verdana, Trebuchet MS,Georgia, Tahoma, Courier
New, Times New Roman
 Change at least one other thing (e.g. background color, text alignment, etc.)*/


#h1title {
    color: rgb(91, 147, 184);
    font-size: 200%;
    font-family: Arial Black, Arial Bold, Gadget, sans-serif;
    ;
}

h4 {
    color: rgb(91, 147, 184);
}

#em1 {
    color: black;
}

em {
    color: yellow;
}

body {
    background-color: rgb(170, 170, 170);
}

#happygif {
    width: 20vw;
    height: 20vw;
    margin-right: 20px;
}

#sadgif {
    width: 20vw;
    height: 20vw;
}

#mymovies {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.linksmovies {
    color: blue;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p:first-letter {
    font-size: 150%;
}
/*kjo eshte per nested list duke perdorur hover */

li ol {
    display: none;
}

li:hover ol {
    display: none;
}

li:hover ol {
    display: block;
}

ol ol {
    list-style-type: none;
}

.stl {
    color: yellow;
}

ol ol {
    color: black;
}

#reverse {
    display: flex;
    flex-direction: column-reverse;
}
