.mood {
    height: 300px;
    width:  300px;
}


h2 {
    color: #333333;
}

h1 {
    color: #333333;
    font-size: 200%;
    font-family: Arial Black, Arial Bold, Gadget, sans-serif;
}

body {
    background-color: #ebeceb;
}

b{
    color:#FF8C00;

}
