h1 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 18pt;
    text-decoration: underline;
}

#head {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    margin: auto;
}
.description > p {
    margin: 1px;
}

body {
    background-image: url("silverware.jpg");
    background-attachment: fixed;
    color: #404040;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: #A4A400;
}

blockquote {
    background-color: #FFFFA8;
    font-style: italic;
}

li {
    list-style-image: url('pie_icon.gif');
}
