body {
    background-image: url("images/background.png");
    margin:0;
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 8pt;
    overflow-x: hidden;
}

#banner {
    background-image: url("images/bannerbg.png");
    width:100%;
    background-repeat: repeat-x;
    padding-left:25%;
}

.radius {
    border-top-left-radius: 15px;
}

#main {
    width:800px;
    margin:0 auto;
    border: 4px gray solid;
    border-radius:20px;
    overflow: hidden;
}

#movie-title{
    font-size:24pt;
    text-align:center;
    text-shadow: 3px 3px #999999
}

#right-content {
    background-color: #A2B964;
    float: left;
    width: 250px;
    border-top-right-radius: 10px;
    font-size: 8pt;
}
#left-content {
    max-width: 550px;
    float: left;
}
.top-left-content {
    width:100%;
    background-image: url("images/rbg.png");
    background-repeat: repeat-x;
    overflow: hidden;
}



#overview-details {
    padding:10px;
}

#rotten-image {
    float:left;
}

#overall-rating {
    font-size:48pt;
    color:red;
    font-weight:bold;
    float:left;
}

.column-review {
    width:47%;
    margin:1.5%;
    float:left;
}

.quote-box {
    background-color:#E8DC9B;
    border:gray solid 2px;
    border-radius: 10px;
    padding:8px;
    overflow: hidden;
}

.quote-box img {
    float:left;
}

q {
    font-size:8pt;
    font-weight:bold;
}

.left {
    float:left;
}
.author-quote {
    margin:0;
    font-style: italic;
}

dt {
    font-weight:bold;
}

#footer {
    height: 30px;
    text-align: center;
    background-color: #A2B964;
    float: left;
    width: 100%;
    line-height: 3;
}

#validators {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 90px;
    opacity: 0.5;
}

dl dt, dl dd {
    margin-bottom:2pt;
}

ul {
    list-style:none;
    padding: 0;
}
